.custom-scrollbar {
    scrollbar-width: thin;
    // Scroll bar style
    /* width */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        @apply bg-green-800 rounded;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        @apply bg-green-900;
    }    
}

// Colors
.c-react {
    color: #62d4fa;
}
.c-vue {
    color: #64b687;
}
.c-node {
    color: #54B689;
}
.c-npm {
    color: #BB443E;
}
.c-gulp {
    color: #C9514E;
}
.c-html {
    color: #DE6E3C;
}
.c-css {
    color: #53A7DC;
}
.c-php {
    color: #777BAF;
}
.c-scss {
    color: #BF6B97;
}